@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


body{
	font-family: 'Roboto', sans-serif;
	color: #60676c;
	font-size: 17px;
	line-height: 1.8em;
	font-weight: 300; 
}


.row {
	margin: 0; 
	
}

.background1{
	/*background: #f6f4d5;*/
	padding-bottom: 30px; 
		border-left: 10px solid #fff;
	border-right: 10px solid #fff;
}

.background2{
	background: #f2f2f2;
	padding-bottom: 50px;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;

}
.background3{
	background: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
		border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	
}

.background4{
	background: #f1f3f3;
	padding-top: 0px;
	padding-bottom: 80px;
		border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	
}

.nopadding{
	padding: 0;
}



/*------------Header, Logo----------------------------------------------------------------*/
 
.header{
	border-bottom: 0px solid #d1dbbd ;
	padding: 2px 0px 2px 0px; /*top right bottom left*/
	position: fixed; 
	top:0; 
	left:0; 
	width:100%; 
	z-index: 10000; 
	margin:0;
	/*opacity: .9; filter:Alpha(Opacity=50);*/
	background: #171c1c;    
/*-webkit-box-shadow: 0px 1px 2px #ecf7c5;
-moz-box-shadow: 0px 1px 2px #ecf7c5;
box-shadow: 0px 1px 2px #ecf7c5;*/
}

#header-img {
	margin-left:0; 
	margin-right: 0; 
	border-bottom: 0;
	width: 100%;
	height:100vh; 
	/*background: url(https://unsplash.it/g/1349/550?image=551);*/
    background-size: cover;
    background-position: center;
}

.parallax-window {
    min-height: 100px;
    background: #000;
	height:100vh; 
	opacity: .5; filter:Alpha(Opacity=50);
}

.header-text{
	margin:0;
	padding:0;
	
}

.header-text2{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 3rem;
line-height: 4.688rem;
	text-align: center;
	text-transform: uppercase; 
	margin: 0 0 24px;  
	padding:0;
}



.logo{
	max-width: 45%; 
	position: relative;
	display: inline-block;
	margin: 15px 25px 15px 60px;
}

.logo2{
	max-width: 80%; 
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
padding-top: 90px;	
margin-bottom:0;

}

.logo-smart{
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}


#home {
	border: 0 !important; 
	color: #fff;
}





/*------------Navbar, Menu----------------------------------------------------------------*/
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main-menu >  li > a{
	font-size: 17px;
	color:#fff;	overflow: hidden;
	padding: 0 4px;
	height: 1em;}
	
	#main-menu >  li > a span{
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;}
	
	
nav a {
	position: relative;
	display: inline-block;
	margin: 15px 15px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.2em;
	
}

nav a:hover,
nav a:focus {
	outline: none;
}
.menu {
	position: relative;
	display: inline-block;
	margin: 18px 25px;
}

ul li {

    display: inline-block;
    list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
}

#main-menu > li > a span::before {
		position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#main-menu > li > a:hover span,
#main-menu > li > a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

#main-menu > .active > a{
	background: transparent;
	color: #abbab9;
}

.smart{
	padding-top: 8%;
}

/*------------Header----------------------------------------------------------------*/



/*------------Main, Section----------------------------------------------------------------*/
.title {
	color: #353535;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 2px;
    position: relative;
    /*margin: 0 auto 1em;*/
    padding: 3em 1em 0em 1em;
    text-align: center;
    text-transform: uppercase;	
	margin-top: 40px;
}

.x {

	font-size: 35px;
	text-align: center;
	position: relative;
	font-weight: 500;
	letter-spacing: 2px;
}

.x:before {
	  content: "";
	  z-index: 1;
	  margin: 0 auto;
	  position: absolute;
	  border-top: 2px solid #fff;
	  top: 20px;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  width: 40%;
	  opacity: 0.6;
	  z-index: -1;
}

.x span {
	  background: #fff;
	  padding: 0 15px;
}

.y {
	font-size: 35px;
	text-align: center;
	position: relative;
	font-weight: 500;
	letter-spacing: 2px;
}

.y:before {
	  content: "";
	  z-index: 1;
	  margin: 0 auto;
	  position: absolute;
	  border-top: 2px solid #fff;
	  top: 20px;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  width: 40%;
	  opacity: 0.6;
	  z-index: -1;
}

.y span {
	  background: #fff;
	  padding: 0 15px;
}

.section-intro{
	text-align: center;
}


.section{
	margin-bottom: 40px;
}

.row-title{
	padding: 80px 0px 0px 0px; /*top right bottom left*/
	margin: 30px 0px 0px 0px;   /*top right bottom left*/
}


.section-title{ 
	padding: 0px 0px 0px 0px; /*top right bottom left*/
}


.subtitles {
	color: #353535;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 2px;
    position: relative;
    text-align: center;
    text-transform: uppercase;	
	padding-top: 50px;
	padding-bottom: 20px;
}

.subtitles::after{
    content: " ";
    border: solid 2px #60676c;
    display: block;
    width: 35px;
    margin: 25px auto;
}



.row-bus{
	margin-left: 80px;
	margin-right: 80px;
	

}


.row-main{
	padding: 20px 0px 40px 0px; /*top right bottom left*/
}

.section-ausstattung-header{
	color: #3e3e3e;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
    position: relative;
	margin: 0px 0 0px 0;
}

.section-modell-header{
	color: #3e3e3e;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
    position: relative;
	margin: 0px 0 0px 0;
}


.glyphi{
	color: #60676c;
font-size: 40px;
font-weight: 200;
letter-spacing: 1px;
    position: relative;
	margin: 0px 0 0px 0;
}


.modell-img{
	
	position:relative;
	
	padding: 0px 20px 0px 20px;
}


.section-modell-subheadline{
	color: #7990a0;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
    position: relative;
	margin: 0px 0 20px 0;
}

.section-text{
	
color: #3e3e3e;
font-size: 17px;
line-height: 2em;
font-weight: 300;
padding-bottom: 40px;

}

.section-modell{
	color: #3e3e3e;
	font-size: 15px;
	line-height: 2em;
	font-weight: 300;
	padding-bottom: 40px;
}

.section-main{
	text-align: left;
}

.section-camper-img{
	position:relative;
	max-width: 100%;
	padding: 10px 10px 10px 10px;
}



.section-ausstattung{
	color: #3e3e3e;
	font-size: 14px;
	line-height: 1.8em;
	font-weight: 300;
	border: 0; 
	padding-top: 0px; 
	text-align: center;
	margin-bottom: 40px;
	background: #f1f3f3;
}

.section-ausstattung li{
	color: #3e3e3e;
	font-size: 15px;
	line-height: 1.8em;
	font-weight: 300;
	border:0;
	padding: 0 0 5px 0;
	background: #f1f3f3;
}

.section-ausstattung li i{
	color: #bfbfbf;
	font-weight: lighter;
	font-size: 10px;
	margin-right: 10px;
}

.section-ausstattung p{
	color: #fff;
	font-size: 15px;
	line-height: 1.8em;
	font-weight: 300;
	border:0;
	padding: 0 0 5px 0;
}



.section-kontakt ul{
	padding: 0 0 20px 0;
	text-align: center;
}

.section-kontakt li{
	color: #3e3e3e;
	font-size: 22px;
	line-height: 2em;
	font-weight: 400;
	border:0;
	padding: 0 0 0px 0;
}

.section-kontakt li i{
	color: #3e3e3e;
	font-weight: 400;
	font-size: 22px;
	line-height: 2em;
	margin-right: 10px;
}

.section-kontakt li a{
	color: #3e3e3e;
}



.row-footer{
	padding: 10px 0px 10px 0px; /*top right bottom left*/
	text-align: right;
	margin-top: 0px; 
	border-top: 1px solid #e5f1e3;
	color: #889caa;
}

.row-footer a{
	font-size: 0.9em; 
	color: #889caa;
}



/*------------Button----------------------------------------------------------------*/

.btn {
	padding: 14px 24px;
    border: 0;
	font-weight: 300;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.btn-primary {
    background: #2e3837;
    color: #ffffff;
	
}
.btn.sharp {
  border-radius:0;
}


/*------------Other Stuff----------------------------------------------------------------*/

.container{
	margin:0;
	padding:0;
	width: 100%;
}

.form-control{
	height: 50px;
	font-size: 17px;
}



