body{
	font-family: 'Inconsolata';
}


.row {
	margin: 0; 
}

.nopadding{
	padding: 0;
}



/*------------Header, Logo----------------------------------------------------------------*/
 
.header{
	border: 0;
	padding: 2px 0px 2px 0px; /*top right bottom left*/
	position: fixed; 
	top:0; 
	left:0; 
	width:100%; 
	z-index: 10000; 
	margin:0;
	/*opacity: .9; filter:Alpha(Opacity=50);*/
	background: #529471;     
}


.logo{
	max-width: 40%; 
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

.logo-smart{
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}


#placeholder {
	border: 0 !important; 
	color: #fff;
}





/*------------Navbar, Menu----------------------------------------------------------------*/
 
.menu {
	padding-top: 4%;
    overflow: hidden;
	font-size: 1.2em;
	font-family: 'Inconsolata', ;
}

ul li {

    display: inline-block;
    list-style-type: none;
	padding-left: 30px;
	padding-right: 30px;
}

#main-menu > li > a {
    color: #000;
    display: block;
    line-height: 2em;
    padding: 0.5em 0em;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 2px solid #529471;
	border-bottom: 2px solid #e5f1e3;
	background: transparent;
}

#main-menu > li > a:hover {
    color: #000 ;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #529471;
}

#main-menu > li > a:active {
    color: #fff;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #529471;
}

#main-menu > .active > a{
    color: #000;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #e5f1e3;
	
}

.smart{
	padding-top: 8%;
}

/*------------Header img----------------------------------------------------------------*/

#header-img {
	margin-top: 100px;  
	margin-left:0; 
	margin-right: 0; 
	border-bottom: 0;
}



/*------------Main, Section----------------------------------------------------------------*/

.row-header{
	padding: 150px 0px 0px 0px; /*top right bottom left*/
	margin-top: 0px;  
}

.row-main{
	padding: 0px 0px 40px 0px; /*top right bottom left*/
}

.section-header{
	border-top: 1px solid #a3cd9e;
	border-bottom: 1px solid #a3cd9e; 
	padding-left: 20px; 
}

.section-header h2{
	color:#35635b; 
	font-size: 3em; 
	margin-top:5px; 
	margin-bottom: 5px; 
}

.section-text{
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.3em; 
	border: 0; 
	padding-top: 20px; 
}

#section-kontakt{
	font-size: 1.4em; 
	border: 0; 
	padding-top: 45px; 
}


.row-footer{
	padding: 40px 0px 0px 0px; /*top right bottom left*/
	margin-top: 50px; 
	height: 100px;
	border-top: 1px solid #e5f1e3;
}



/*------------Button----------------------------------------------------------------*/

.btn {
	padding: 14px 24px;
    border: 0;
	font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-primary {
    background: #529471;
    color: #ffffff;
	
}
.btn.sharp {
  border-radius:0;
}


/*------------Other Stuff----------------------------------------------------------------*/

.penis{height: 300px; background: #cdcdcd; width: 100%;border:1px solid #000;}
.penis2{height: 350px; background: #cdcdcd; width: 100%;border:1px solid #000;}
.muschi{height: 50px; background: #abef03; width: 100%;}