.row {margin: 0; border:1px solid #000} 
#header{
	border: 0;
	padding: 2px 0px 2px 0px; /*top right bottom left*/
	position: fixed; 
	top:0; left:0; 
	width:100%; 
	z-index: 10000; 
	margin:0;
	opacity: .9; filter:Alpha(Opacity=50);
	background: #fff;/*#3d322c; fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #1e130c , #9a8478);*/ /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #1e130c , #9a8478);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}
#header h1 {color: #fff;}

/*#placeholder { height:80px;}*/
#slider {height: 100va;margin-top: 155px; margin-left:0; margin-right: 0; border:0;}

.penis{height: 300px; background: #cdcdcd; width: 100%;border:1px solid #000;}
.penis2{height: 350px; background: #cdcdcd; width: 100%;border:1px solid #000;}
.muschi{height: 50px; background: #abef03; width: 100%;}

.nopadding{padding: 0;}

/*.nomargin{margin: 0;}*/

.logo{font-size:3em; color: red;   /*display: flex;
 align-items: center;
  justify-content: center;*/
  /*text-align:center;*/}
  
  .smart{color:#fff;}
  
  .foto{max-width: 50%; height: auto; display: block; margin-left: auto; margin-right: auto;}
  
 nav {
	padding-top: 50px;
	/*text-align:center;*/
    overflow: hidden;
	font-size: 1.2em;
	font-family: 'Inconsolata', ;
}
  
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
		padding-left: 30px;
	padding-right: 30px;
}

/* Create a style for the first level items */
nav > ul > li > a {
    color: #000;
    display: block;
    line-height: 2em;
    padding: 0.5em 0em;
padding-left: 10px;
	padding-right: 10px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #e5f1e3;
	
}

a:hover {
    color: #aaa;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #fff;
}  


