body{font-family: 'Inconsolata';}


.row {margin: 0; border:0px solid #000} 
.header{
	border: 0 ;
	padding: 2px 0px 2px 0px; /*top right bottom left*/
	position: fixed; 
	top:0; left:0; 
	width:100%; 
	z-index: 10000; 
	margin:0;
	/*opacity: .9; filter:Alpha(Opacity=50);*/
	background: #529471;/*#3d322c; fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #1e130c , #9a8478);*/ /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #1e130c , #9a8478);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
}
#header h1 {color: #fff;}

#placeholder { border: 0 !important; color: #fff;}
#slider {margin-top: 130px; margin-left:0; margin-right: 0; border:0;}

.penis{height: 300px; background: #cdcdcd; width: 100%;border:1px solid #000;}
.penis2{height: 350px; background: #cdcdcd; width: 100%;border:1px solid #000;}
.muschi{height: 50px; background: #abef03; width: 100%;}

.row-header{padding: 20px 0px 0px 0px; /*top right bottom left*/margin-top: 50px;  }
.row-main{padding: 0px 0px 40px 0px; /*top right bottom left*/}

.rowprodukt h2{color:#35635b; font-size: 3em; margin-top:5px; margin-bottom: 5px;}
.produkt-header{border-top: 2px solid #a3cd9e; border-bottom: 2px solid #a3cd9e; }
.produkt-text{font-size: 1.4em; border-top: 0px solid #a3cd9e; padding-top: 20px; }
.nopadding{padding: 0;}

/*.nomargin{margin: 0;}*/

.logo{font-size:3em; color: red;   /*display: flex;
 align-items: center;
  justify-content: center;*/
  /*text-align:center;*/}
  
 /* .smart{color:#fff;}*/
  
  .foto{max-width: 50%; height: auto; display: block; margin-left: auto; margin-right: auto;}
  
 .menu {
	padding-top: 50px;
    overflow: hidden;
	font-size: 1.2em;
	font-family: 'Inconsolata', ;
}

ul li {

    display: inline-block;
    list-style-type: none;
	padding-left: 30px;
	padding-right: 30px;
}


#main-menu > li > a {
    color: #000;
    display: block;
    line-height: 2em;
    padding: 0.5em 0em;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 2px solid #529471;
	border-bottom: 2px solid #e5f1e3;
	background: transparent;
	
}

#main-menu > li > a:hover {
    color: #000 ;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #529471;
}

#main-menu > li > a:active {
    color: #fff;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #529471;
}

/* Bootstrap scrollspy sets the surrounding li to class .active so we have to adress it this way */
#main-menu > .active > a{
    color: #000;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #e5f1e3;
	
}
   /*
.menu menuul{
    margin: 0;
    padding:0;
}



.menu a:link {
    color: #000;
}

}   */


