body{
	font-family: 'Inconsolata';
}


.row {
	margin: 0; 
}

.nopadding{
	padding: 0;
}



/*------------Header, Logo----------------------------------------------------------------*/
 
.header{
	border: 0;
	padding: 2px 0px 2px 0px; /*top right bottom left*/
	position: fixed; 
	top:0; 
	left:0; 
	width:100%; 
	z-index: 10000; 
	margin:0;
	/*opacity: .9; filter:Alpha(Opacity=50);*/
	background: #529471;     
}


.logo{
	max-width: 40%; 
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

.logo2{
	max-width: 80%; 
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

.logo-smart{
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}


#placeholder {
	border: 0 !important; 
	color: #fff;
}





/*------------Navbar, Menu----------------------------------------------------------------*/
 
.menu {
	padding-top: 4%;
    overflow: hidden;
	font-size: 1.2em;
	font-family: 'Inconsolata', ;
}

ul li {

    display: inline-block;
    list-style-type: none;
	padding-left: 30px;
	padding-right: 30px;
}

#main-menu > li > a {
    color: #000;
    display: block;
    line-height: 2em;
    padding: 0.5em 0em;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 2px solid #529471;
	border-bottom: 2px solid #e5f1e3;
	background: transparent;
}

#main-menu > li > a:hover {
    color: #000 ;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #529471;
}

#main-menu > li > a:active {
    color: #fff;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #529471;
}

#main-menu > .active > a{
    color: #000;
	text-decoration: none;
	border-top: 2px solid #e5f1e3;
	border-bottom: 2px solid #e5f1e3;
	
}

.smart{
	padding-top: 8%;
}

/*------------Header img----------------------------------------------------------------*/

#header-img {
	margin-left:0; 
	margin-right: 0; 
	border-bottom: 0;
	width: 100%;
	height:100vh; 
	/*background: url(https://unsplash.it/g/1349/550?image=551);*/
    background-size: cover;
    background-position: center;
}

.parallax-window {
    min-height: 100px;
    background: #000;
	height:100vh; 
	opacity: .7; filter:Alpha(Opacity=50);
}

#foot{height: 200px;}

/*------------Main, Section----------------------------------------------------------------*/

.row-header{
	padding: 150px 0px 0px 0px; /*top right bottom left*/
	margin-top: 0px;  
}

.row-main{
	padding: 0px 0px 40px 0px; /*top right bottom left*/
}

.section-header{
	border-top: 0px solid #a3cd9e;
	border-bottom: 1px solid #91aa9d; 
	padding-left: 20px; 
}

.section-header h2{
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em; 
	font-weight: bold;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin-top:5px; 
	margin-bottom: 5px; 
	padding-bottom: 10px;
}

.section-text{
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.3em; 
	border: 0; 
	padding-top: 20px; 
}

.section-text4{
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.3em; 
	border: 0; 
	padding-top: 20px; 
	text-align: center;
}

.section-text2{
	font-family: 'Oswald', sans-serif;
	font-size: 1.7em; 
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	border: 0; 
	padding-top: 0px; 
text-align: center;
color: #fff;
}

.section-text3{
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em; 
	font-weight: bold;
	letter-spacing: 0.7em;
	text-transform: uppercase;
	border-bottom: 1px solid #91aa9d; 
	padding-top: 70px;
	padding-bottom: 10px;
text-align: center;
color: #2e3837;
}

#section-kontakt{
	font-size: 1.4em; 
	border: 0; 
	padding-top: 45px; 
}



.row-footer{
	padding: 40px 0px 0px 0px; /*top right bottom left*/
	margin-top: 0px; 
	height: 100px;
	border-top: 1px solid #e5f1e3;
		font-family: 'Droid Sans', sans-serif;
	font-size: 1.3em; 
}



/*------------Button----------------------------------------------------------------*/

.btn {
	padding: 14px 24px;
    border: 0;
	font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.btn-primary {
    background: #2e3837;
    color: #ffffff;
	
}
.btn.sharp {
  border-radius:0;
}


/*------------Other Stuff----------------------------------------------------------------*/

.penis{width: 100%;border:0px solid #000;}
.penis2{ width: 100%;border:0px solid #000;}
.muschi{height: 50px; width: 100%;}

/*------------Animation------------------------------------------------------------------*/

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.gallery{
    margin-top: 100px;
}
.gallery-item{
	
	margin-bottom: 30px;
}
.modal-footer{
	text-align: center;
}
.pagination{
	margin: 0;

}

ul li{

		padding-left: 0;
	padding-right: 0;

}


