body{
font-family: 'Raleway', sans-serif;
}


.row {
	margin: 0; 
}

.nopadding{
	padding: 0;
}



/*------------Header, Logo----------------------------------------------------------------*/
 
.header{
	border-bottom: 0px solid #d1dbbd ;
	padding: 2px 0px 2px 0px; /*top right bottom left*/
	position: fixed; 
	top:0; 
	left:0; 
	width:100%; 
	z-index: 10000; 
	margin:0;
	/*opacity: .9; filter:Alpha(Opacity=50);*/
	background: #2e3837;    
/*-webkit-box-shadow: 0px 1px 2px #ecf7c5;
-moz-box-shadow: 0px 1px 2px #ecf7c5;
box-shadow: 0px 1px 2px #ecf7c5;*/
}


.logo{
	max-width: 40%; 
	position: relative;
	display: inline-block;
	margin: 15px 25px;
}

.logo2{
	max-width: 80%; 
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
padding-top: 50px;	
margin-bottom:0;
}

.logo-smart{
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}


#placeholder {
	border: 0 !important; 
	color: #fff;
}





/*------------Navbar, Menu----------------------------------------------------------------*/
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main-menu >  li > a{
	color:#fff; font-family: 'Raleway', sans-serif; 	overflow: hidden;
	padding: 0 4px;
	height: 1em;}
	
	#main-menu >  li > a span{
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;}
	
	
nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.3em;
	font-family: 'Raleway', sans-serif;
}

nav a:hover,
nav a:focus {
	outline: none;
}
.menu {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
}

ul li {

    display: inline-block;
    list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
}

#main-menu > li > a span::before {
		position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#main-menu > li > a:hover span,
#main-menu > li > a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

#main-menu > .active > a{
	background: transparent;
}

.smart{
	padding-top: 8%;
}

/*------------Header img----------------------------------------------------------------*/

#header-img {
	margin-left:0; 
	margin-right: 0; 
	border-bottom: 0;
	width: 100%;
	height:100vh; 
	/*background: url(https://unsplash.it/g/1349/550?image=551);*/
    background-size: cover;
    background-position: center;
}

.parallax-window {
    min-height: 100px;
    background: #000;
	height:100vh; 
	opacity: .7; filter:Alpha(Opacity=50);
}

#foot{height: 200px;}

/*------------Main, Section----------------------------------------------------------------*/

.row-header{
	padding: 150px 0px 0px 0px; /*top right bottom left*/
	margin-top: 0px;  
}

.row-main{
	padding: 0px 0px 40px 0px; /*top right bottom left*/
}

.section-header{
	border-top: 0px solid #a3cd9e;
	border-bottom: 0px solid #91aa9d; 
	padding-left: 20px; 
}

.section-header h2{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em; 
	font-weight: bold;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin-top:5px; 
	margin-bottom: 5px; 
	padding-bottom: 10px;
}

.section-text{
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em; 
	font-weight: 400;
	border: 0; 
	padding-top: 20px; 
}

.section-text4{
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em; 
	border: 0; 
	padding-top: 20px; 
	text-align: center;
}

.section-text2{
	margin:0;
	padding:0;
	
}

.section-text2 h6{
	padding:0;
	font-family: 'Raleway', sans-serif;
	font-size: 2.2em; 
font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; color: #fff;
}

.section-text3{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em; 
	font-weight: bold;
	letter-spacing: 0.7em;
	text-transform: uppercase;
	border-bottom: 0px solid #91aa9d; 
	padding-top: 70px;
	padding-bottom: 10px;
text-align: center;
color: #2e3837;
}

h3 {
    font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 2em; 
	letter-spacing: 0.1em;
	text-transform: uppercase;
    margin-top: 70px;
    position: relative;
    text-align: center;
    z-index: 1;
	color: #2e3837;
}

h3:before {
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 15px; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

h3 span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    background: #fff; 
	
    padding: 0 20px; 
}

h3.double:before { 
    /* this is just to undo the :before styling from above */
    border-top: none; 
}

h3.double:after {
    border-bottom: 1px solid #2e3837;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: 45%; left: 0; right: 0;
    width: 95%;
    z-index: -1;
}

h4 {
    font-family: 'Raleway', sans-serif;
	font-size: 1.8em; 
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
    position: relative;
	color: #2e3837;
}

h4 span {
    background-color: white;
    padding-right: 10px;
}

h4:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #2e3837;
    z-index: -1;
}

#section-kontakt{
	font-size: 1.4em; 
	border: 0; 
	padding-top: 45px; 
}



.row-footer{
	padding: 40px 0px 0px 0px; /*top right bottom left*/
	margin-top: 0px; 
	height: 100px;
	border-top: 1px solid #e5f1e3;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em; 
}



/*------------Button----------------------------------------------------------------*/

.btn {
	padding: 14px 24px;
    border: 0;
	font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.btn-primary {
    background: #2e3837;
    color: #ffffff;
	
}
.btn.sharp {
  border-radius:0;
}


/*------------Other Stuff----------------------------------------------------------------*/

.penis{width: 100%;border:0px solid #000;}
.penis2{ width: 100%;border:0px solid #000;}
.muschi{height: 50px; width: 100%;}

/*------------Animation------------------------------------------------------------------*/

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.gallery{
    margin-top: 100px;

}
.gallery-item{
	
	margin-bottom: 30px;
}


.modal-footer{
	text-align: center;
}
.pagination{
	margin: 0;

}


