@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


body{
font-family: 'Roboto', sans-serif;
}


.row {
	margin: 0; 
}

.nopadding{
	padding: 0;
}



/*------------Header, Logo----------------------------------------------------------------*/
 
.header{
	border-bottom: 0px solid #d1dbbd ;
	padding: 2px 0px 2px 0px; /*top right bottom left*/
	position: fixed; 
	top:0; 
	left:0; 
	width:100%; 
	z-index: 10000; 
	margin:0;
	/*opacity: .9; filter:Alpha(Opacity=50);*/
	background: #171c1c;    
/*-webkit-box-shadow: 0px 1px 2px #ecf7c5;
-moz-box-shadow: 0px 1px 2px #ecf7c5;
box-shadow: 0px 1px 2px #ecf7c5;*/
}

#header-img {
	margin-left:0; 
	margin-right: 0; 
	border-bottom: 0;
	width: 100%;
	height:100vh; 
	/*background: url(https://unsplash.it/g/1349/550?image=551);*/
    background-size: cover;
    background-position: center;
}

.parallax-window {
    min-height: 100px;
    background: #000;
	height:100vh; 
	opacity: .5; filter:Alpha(Opacity=50);
}

.header-text{
	margin:0;
	padding:0;
	
}

.header-text2{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 3rem;
line-height: 4.688rem;
	text-align: center;
	text-transform: uppercase; 
	margin: 0 0 24px;  
	padding:0;
}



.logo{
	max-width: 45%; 
	position: relative;
	display: inline-block;
	margin: 15px 25px 15px 60px;
}

.logo2{
	max-width: 80%; 
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
padding-top: 90px;	
margin-bottom:0;

}

.logo-smart{
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}


#home {
	border: 0 !important; 
	color: #fff;
}





/*------------Navbar, Menu----------------------------------------------------------------*/
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main-menu >  li > a{
	color:#fff;	overflow: hidden;
	padding: 0 4px;
	height: 1em;}
	
	#main-menu >  li > a span{
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;}
	
	
nav a {
	position: relative;
	display: inline-block;
	margin: 15px 15px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.2em;
	
}

nav a:hover,
nav a:focus {
	outline: none;
}
.menu {
	position: relative;
	display: inline-block;
	margin: 18px 25px;
}

ul li {

    display: inline-block;
    list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
}

#main-menu > li > a span::before {
		position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#main-menu > li > a:hover span,
#main-menu > li > a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

#main-menu > .active > a{
	background: transparent;
	color: #abbab9;
}

.smart{
	padding-top: 8%;
}

/*------------Header----------------------------------------------------------------*/



/*------------Main, Section----------------------------------------------------------------*/
.section1{
	background: #fff;
	margin-bottom: 10px;
	margin-top: 20px;
}
.row-title{
	padding: 80px 0px 0px 0px; /*top right bottom left*/
	margin: 30px 0px 0px 0px;   /*top right bottom left*/
}

.row-title2{
	padding: 20px 0px 0px 0px; /*top right bottom left*/
	margin: 30px 0px 0px 0px;   /*top right bottom left*/
}

.section-title{ 
	padding: 0px 0px 0px 0px; /*top right bottom left*/
}




.title2 {
	color: #3c4a54;
font-size: 22px;
font-weight: 500;
letter-spacing: 2px;
    position: relative;
    margin: 0 auto 1em;
    padding: 1em 0em .25em 90px; /*top right bottom left*/
    text-align: left;
    text-transform: uppercase;
	 background: url(stressed_linen.png);
	
}

.title2:after {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 80px;
    height: 2px;
    margin-left: 45px;
    content: '';
   
}

.title3 {
	
	color: #5f7686;
	font-size: 26px;
	font-weight: 500;
	letter-spacing: 2px;
    position: relative;
    /*margin: 0 auto 1em;*/
    padding: 1em 1em 0em 1em;
    text-align: center;
	text-transform: uppercase;
	opacity: 0.7;
	margin-bottom: 60px;
    
	
}

.ausstattung{
	margin-top: 30px;
}

.title3 p{
	color: #595959;
}

.title {
	
	color: #3c4a54;
	font-size: 26px;
	font-weight: 500;
	letter-spacing: 2px;
    position: relative;
    /*margin: 0 auto 1em;*/
    padding: 3em 1em 0em 1em;
    text-align: center;
    text-transform: uppercase;
	
}

.x {
  color: #3c4a54;
  font-size: 35px;
  text-align: center;
  position: relative;
  font-weight: 500;
	letter-spacing: 2px;
 
}

.x:before {
  content: "";
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  border-top: 2px solid #a6a6a6;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  opacity: 0.6;
  z-index: -1;
}

.x span {
  background: #ffffff;
  padding: 0 15px;
}

.testest2{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	position: relative;
	
}

.testest{
	padding-left: 70px;
	padding-bottom: 40px;
	position: relative;
	width: 100%;
	
}

.testest p{
	   position: absolute; 
   top: 55px; 
   left: 110px; 
   width: 100%; 
  color: #3c4a54;
font-size: 24px;
font-weight: 500;
letter-spacing: 2px;
text-transform: uppercase;
}
.row-main{
	padding: 20px 0px 40px 0px; /*top right bottom left*/
}

.firstcharacter { float: left; color: #3e3e3e; font-size: 60px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 0px;}

.section-text5{
	color: #3e3e3e;
font-size: 22px;
font-weight: 500;
letter-spacing: 1px;
    position: relative;
	    text-align: center;
    text-transform: uppercase;
	margin: 30px 0 60px 0;
}

.section-text7{
	color: #3e3e3e;
font-size: 20px;
font-weight: 500;
letter-spacing: 1px;
    position: relative;
	margin: 20px 0 0px 0;
}
.section-text8{

	color: #7990a0;
font-size: 14px;
font-weight: 300;
letter-spacing: 1px;
    position: relative;
	margin: 0px 0 20px 0;
}

.section-text{
	
color: #3e3e3e;
font-size: 17px;
line-height: 2em;
font-weight: 300;
padding-bottom: 40px;

}
.section-camper-text{
	
color: #4d4d4d;
font-size: 17px;
line-height: 1.9em;
font-weight: 300;
padding: 0px 40px 20px 40px; /*top right bottom left*/
text-align: left;


}

.section-camper-img{
	
max-width: 80%; 
	height: auto; 
	 
margin: 0px 0px 20px 0px; /*top right bottom left*/
padding: 0 10px 0 10px;




}

.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:96.2%;
	/* styling bellow */
	background-color:#1a1a1a;
	color:white;
	opacity:0.9; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
	text-align: center;
	margin: 0 10px 0 10px;
	
	
}
p.description_content{
	padding:10px;
	margin:0px;
	font-size: 18px;
line-height: 2em;
font-weight: 400;
}

.bla{
	padding: 0px 40px 0px 40px;
	text-align: center ;
}

.section-text4{

color: #4d4d4d;
font-size: 17px;
line-height: 1.9em;
font-weight: 300;
	border: 0; 
	padding-top: 0px; 
	text-align: center;
	margin-bottom: 40px;
	
}

.section-text6{

	color: #3e3e3e;
	font-size: 14px;
	line-height: 1.8em;
	font-weight: 300;
	border: 0; 
	padding-top: 0px; 
	text-align: left;
	margin-bottom: 40px;
	background: #fff;
	
}

.section-text6 li{
		color: #3e3e3e;
	font-size: 15px;
	line-height: 1.8em;
	font-weight: 300;
	border:0;
	padding: 0 0 5px 0;
	background: #fff;
}

.section-text6 li i{
	color: #bfbfbf;
	font-weight: lighter;
	font-size: 10px;
	margin-right: 10px;
}

.section-text6 p{
			color: #fff;
	font-size: 15px;
	line-height: 1.8em;
	font-weight: 300;
	border:0;
	padding: 0 0 5px 0;
}

.section-text4 ul{
	padding: 0 0 20px 0;
}

.section-text4 li{
		color: #3e3e3e;
	font-size: 22px;
	line-height: 2em;
	font-weight: 400;
	border:0;
	padding: 0 0 0px 0;
}

.section-text4 li i{
	color: #3e3e3e;
	font-weight: 400;
	font-size: 22px;
	line-height: 2em;
	margin-right: 10px;
	
}

.section-text4 li a{
	color: #3e3e3e;
	
}



#section-kontakt{
	font-size: 1.2em; 
	border: 0; 
	padding-top: 20px; 
}



.row-footer{
	padding: 30px 0px 30px 0px; /*top right bottom left*/
	text-align: right;
	margin-top: 0px; 
	border-top: 1px solid #e5f1e3;
	font-size: 1.1em; 
	color: #889caa;
}

.row-footer a{
	font-size: 1.1em; 
	color: #889caa;
}



/*------------Button----------------------------------------------------------------*/

.btn {
	padding: 14px 24px;
    border: 0;
	font-weight: 300;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.btn-primary {
    background: #2e3837;
    color: #ffffff;
	
}
.btn.sharp {
  border-radius:0;
}


/*------------Other Stuff----------------------------------------------------------------*/

.penis{width: 100%;border:0px solid #000;}
.penis2{ width: 100%;border:0px solid #000;}
.muschi{height: 50px; width: 100%;}



.section-gallery{
	padding-top: 60px;
}

.gallery{
    padding-top: 0px;

}
.gallery-item{
	
	margin-bottom: 10px;
}




.modal-footer{
	text-align: center;
}
.pagination{
	margin: 0;

}

.container{
	margin:0;
	padding:0;
	width: 100%;
}
.img-gallery{
	width:100%;
	margin-left: 0px;
 
}

.bildtest{
    
	opacity: 1;
	position: relative;

	
}

.bildunterschrift p{
	

}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  width: 100%;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 2em;
  background-color: transparent;
  color: #FFF;
  padding: 3em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.image-holder {
    display:inline-block;
    position: relative;
}
.image-holder:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.3;
}
.image-holder:hover:after {
    opacity: 0.5;
}
.mid {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

figure.snip1169 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  /*max-width: 310px;
  max-height: 220px;*/
  width: 100%;
  background: #000;
  color: #000000;
  text-align: left;
  opacity: 0.9;
}
figure.snip1169 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1169 img {
  max-width: 100%;
}
figure.snip1169 i {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 58px;
  opacity: 0.7;
}
figure.snip1169 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
figure.snip1169:hover img,
figure.snip1169.hover img {
  opacity: 0.25;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1169:hover i,
figure.snip1169.hover i {
  color: #fff;
}

.form-control{
	height: 50px;
	font-size: 17px;
}
